extends ../layout

block content
	doctype html
	html(lang='en')
		head
			meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
			// Meta, title, CSS, favicons, etc.
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			title Charity Project | Event Details
			// Bootstrap
			link(href='../vendors/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
			// Font Awesome
			link(href='../vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
			// NProgress
			link(href='../vendors/nprogress/nprogress.css', rel='stylesheet')
			// iCheck
			link(href='../vendors/iCheck/skins/flat/green.css', rel='stylesheet')
			// bootstrap-progressbar
			link(href='../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css', rel='stylesheet')
			// JQVMap
			link(href='../vendors/jqvmap/dist/jqvmap.min.css', rel='stylesheet')
			// bootstrap-daterangepicker
			link(href='../vendors/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
			// Datatables
			link(href='../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css', rel='stylesheet')
			// Custom Theme Style
			link(href='../build/css/custom.min.css', rel='stylesheet')
			script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAxUeMBUbKnW-LKTWTIL656w7nHABuNMTI&libraries=places')
			script(src='../javascripts/events/event_details.js')
			style.
				.progress {
					color: white;
					text-align: center;
					background-color: lightgray;
					-webkit-box-shadow: none;
					box-shadow: none;
				}
		body.nav-md					
			.right_col(role='main')
				// top tiles
				.row.page-title
					.title(style='margin: 10px')
						h1 Event Details						
				br
				br
				br
				h3#event-title(style='margin-left: 50px') #{docs.eventName}
				small(style='margin-left: 50px') Created by&nbsp;
				a#userIdLink(href="") #{docs.user}
				#eventUser(style="display:none") #{docs.user}
				hr
				.row
					.col-md-2.col-sm-2.col-xs-12
					.col-md-2.col-sm-2.col-xs-12
						ul
							li
								h4
									b Type:
								p#event-type #{docs.eventType}
							li
								h4
									b Date (M/D/Y):
								p#event-date #{docs.eventDate}							
							li
								h4
									b Meeting Time:								
								p#event-time #{docs.meetingTime}
							li
								h4
									b Meeting Place:
								p#event-place #{docs.meetingAddress}
					.col-md-1.col-sm-1.col-xs-12
					.col-md-5.col-sm-5.col-xs-12(style="text-align: center")
						img#event-image(src='..#{docs.eventImage}', style='max-height: 300px; max-width: 500px')
				hr
				.row
					.col-md-2.col-sm-2.col-xs-12
					#event-description.col-md-5.col-sm-5.col-xs-12
						p #{docs.eventDescription}
					#event-donation-progress.col-md-3.col-sm-3.col-xs-12.well(style='margin: 20px')
						label Donation:&nbsp;
						span#event-currentDonation #{docs.currentDonation}
						| /
						span#event-donation #{docs.budget}
						.progress
							#donationProgress.progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:0%')
				.row
					.col-md-7.col-sm-7.col-xs-12
						h3#event-title(style='margin-left: 50px') EVENT ACTIVITIES
						hr
						.row
							.col-md-2.col-sm-2.col-xs-12
							.col-md-8.col-sm-8.col-xs-12#activityPane			
					.col-md-4.col-sm-4.col-xs-12
						h3#event-title(style='margin-left: 50px') PRODUCER INFORMATION
						hr
						.row(style="text-align: center")
							
						.row
							table.table.table-responsive.table-striped
								tbody
									tr
										td(style="text-align: center; vertical-align: middle; width: 40%", rowspan="5")											
											img#txtCompanyImageSrc(src='#', alt='No company image!', style="max-width: 100%")
									tr
										td(style="text-align: right; width: 100px")
											span(style="font-weight: bold") Company:
										td
											span#txtCompanyName
									tr
										td(style="text-align: right; width: 100px")
											span(style="font-weight: bold") Address:
										td
											span#txtCompanyAddress
									tr
										td(style="text-align: right; width: 100px")
											span(style="font-weight: bold") Email:
										td
											span#txtCompanyEmail
									tr
										td(style="text-align: right; width: 100px")
											span(style="font-weight: bold") Phone:
										td
											span#txtCompanyPhone
				hr
				.row
					.col-md-3.col-sm-3
					.col-md-6.col-sm-6.col-xs-12
						a#btnParticipate.btn.btn-info.col-md-5.col-xs-12(onclick='join()') PARTICIPATE	
						a.btn.btn-info.col-md-5.col-xs-12(onclick='donate()') DONATE
				br
				br
				br
				br
			#participate-form(title='Participant Information')
				p.validateTips All form fields are required.
				form
					fieldset
						.row.form-group
							label.control-label.col-md-6.col-sm-6.col-xs-12
								| Full Name 
								span.required *
							.col-md-6.col-sm-6.col-xs-12
								input#txtParticipantFullName.form-control.col-md-7.col-xs-12(type='text', required='required')
						.row.form-group
							label.control-label.col-md-6.col-sm-6.col-xs-12
								| Email 
								span.required *
							.col-md-6.col-sm-6.col-xs-12
								input#txtParticipantEmail.form-control.col-md-7.col-xs-12(type='text', required='required')
						.row.form-group
							label.control-label.col-md-6.col-sm-6.col-xs-12
								| Phone 
								span.required *
							.col-md-6.col-sm-6.col-xs-12
								input#txtParticipantPhone.form-control.col-md-7.col-xs-12(type='text', required='required')
			#donate-form(title='Donate For Event')
				p.validateTips All form fields are required.
				form
					fieldset
						.row.form-group
							label.control-label.col-md-4.col-sm-4.col-xs-12
								| Name 
								span.required *
							.col-md-8.col-sm-8.col-xs-12
								input#txtDonator.form-control.col-md-7.col-xs-12(type='text', required='required')
								span#txtEditActivityId(style='display:none')
						.row.form-group
							label.control-label.col-md-4.col-sm-4.col-xs-12
								| Email 
								span.required *
							.col-md-8.col-sm-8.col-xs-12
								input#txtDonatorEmail.form-control.col-md-7.col-xs-12(type='text', required='required')
						.row.form-group
							label.control-label.col-md-4.col-sm-4.col-xs-12
								| Phone 
								span.required *
							.col-md-8.col-sm-8.col-xs-12
								input#txtDonatorPhone.form-control.col-md-7.col-xs-12(type='text', required='required')
						.row.form-group
							label.control-label.col-md-4.col-sm-4.col-xs-12
								| Item 
								span.required *
							.col-md-8.col-sm-8.col-xs-12
								select#txtDonateItem.form-control.col-md-7.col-xs-12
									option Cash
						.row.form-group
							label.control-label.col-md-4.col-sm-4.col-xs-12
								| Quantity
								span.required *
							.col-md-8.col-sm-8.col-xs-12
								input#txtDonateQuantity.form-control.col-md-7.col-xs-12(type='text', required='required')
			// Bootstrap
			script(src='../vendors/bootstrap/dist/js/bootstrap.min.js')
			// FastClick
			script(src='../vendors/fastclick/lib/fastclick.js')
			// NProgress
			script(src='../vendors/nprogress/nprogress.js')
			// Chart.js
			script(src='../vendors/Chart.js/dist/Chart.min.js')
			// gauge.js
			script(src='../vendors/gauge.js/dist/gauge.min.js')
			// bootstrap-progressbar
			script(src='../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')
			// iCheck
			script(src='../vendors/iCheck/icheck.min.js')
			// Skycons
			script(src='../vendors/skycons/skycons.js')
			// Flot
			script(src='../vendors/Flot/jquery.flot.js')
			script(src='../vendors/Flot/jquery.flot.pie.js')
			script(src='../vendors/Flot/jquery.flot.time.js')
			script(src='../vendors/Flot/jquery.flot.stack.js')
			script(src='../vendors/Flot/jquery.flot.resize.js')
			// Flot plugins
			script(src='../vendors/flot.orderbars/js/jquery.flot.orderBars.js')
			script(src='../vendors/flot-spline/js/jquery.flot.spline.min.js')
			script(src='../vendors/flot.curvedlines/curvedLines.js')
			// DateJS
			script(src='../vendors/DateJS/build/date.js')
			// JQVMap
			script(src='../vendors/jqvmap/dist/jquery.vmap.js')
			script(src='../vendors/jqvmap/dist/maps/jquery.vmap.world.js')
			script(src='../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')
			// bootstrap-daterangepicker
			script(src='../vendors/moment/min/moment.min.js')
			script(src='../vendors/bootstrap-daterangepicker/daterangepicker.js')
			// jquery.inputmask
			script(src='../vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js')
			// Custom Theme Scripts
			script(src='../build/js/custom.min.js')
