extends layout

block content
	doctype html
	html.no-js
		head
			meta(charset='utf-8')
			title Single cause | Charity / Non-profit responsive Bootstrap HTML5 template
			meta(name='description', content='')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			// Fonts
			link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
			link(href='http://fonts.googleapis.com/css?family=Dosis:400,700', rel='stylesheet', type='text/css')
			// Bootsrap
			link(rel='stylesheet', href='/guest_page/css/bootstrap.min.css')
			// Font awesome
			link(rel='stylesheet', href='/guest_page/css/font-awesome.min.css')
			// PrettyPhoto
			link(rel='stylesheet', href='/guest_page/css/prettyPhoto.css')
			// Datatables
			link(href='/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css', rel='stylesheet')
			// Template main Css
			link(rel='stylesheet', href='/guest_page/css/style.css')
			// Modernizr
			script(src='/guest_page/js/modernizr-2.6.2.min.js')
		body			
			.row(style="height:80px")
			.page-heading.text-center
				.container.zoomIn.animated
					h1.page-title(style="text-transform: uppercase;") #{docs.postName}
						span.title-under
					p#headerDescription.page-description
						| Catch up with our latest activities
			.main-container
				.container
					#newsPane.row(style="display:none")
						.col-md-8.col-xs-12.fadeIn.animated
							img(src='#{docs.postImage}', alt='', style="max-width:100%")
							.timePane(style="right: 0")
								.month-time.fleft
									div#postDate(style="display:none") #{docs.dateCreated}
									span.day.fleft#eventDay
									span.month#eventMonthYear
									br
									span.stime
										strong#eventTime						
						.col-md-4.col-xs-12
							h2#headerAuthor.title-style-2
								| Posted by
								span.title-under
							table.table.table-responsive.table-striped
								tbody
									tr
										td(style="text-align: center; vertical-align: middle; width:30%", rowspan="4")		
											input#txtUserId(type="hidden", value="#{docs.userId}")
											a#linkUser(href="#")									
												img#txtUserImageSrc(src='#', alt='No image!', style="max-width: 100%")
									tr
										td(style="text-align: right; width: 50px")
											i.fa.fa-user(style="font-weight:bold")  :
										td
											span#txtUsername
									tr
										td(style="text-align: right; width: 50px")
											i.fa.fa-envelope(style="font-weight:bold")  :
										td
											span#txtUserEmail
									tr
										td(style="text-align: right; width: 50px")
											i.fa.fa-phone(style="font-weight:bold")  :
										td
											span#txtUserPhone
							span#dateCreated(style="display:none") #{docs.dateCreated}
							span#dateModified(style="display:none") #{docs.dateModified}
							span#lastEditedUser(style="display:none") #{docs.lastEditedUser}							
					br
					.row.fadeIn.animated
						.col-md-12
							#content(style="display:none") #{docs.postContent}
							div#postContent											
						.col-md-5.col-xs-12(style="float: right")
							#editPostPane
					.row
						.col-md-12.col-xs-12
							h2#headerComment.title-style-2
								| Comments 
								span.title-under
							div(role='tabpanel')
								.row
									#commentPane
								.row
									form#commentForm.form-horizontal.form-label-left(action="/posts/addpost", method="post")
										.form-group
											label#formContent.control-label.col-md-3.col-sm-3.col-xs-12(style="text-align:right")
												| Content 
												span.required *
											.col-md-6.col-sm-6.col-xs-12
												textarea#txtCommentContent(name="postContent", style="padding:10px; width:100%; height: 75px", tabindex="-1")
												input#txtCommentId(type="hidden")
										.row
											.col-md-7.col-sm-7
											#commentButtons.col-md-2.col-sm-2.col-xs-12												
												a#formSubmit.btn.btn-info.col-xs-12(style="float: right", onclick="postComment()") Submit
			// jQuery
			script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
			script.
				window.jQuery || document.write('<script src="/guest_page/js/jquery-1.11.1.min.js"><\\/script>')
			// Bootsrap javascript file
			script(src='/guest_page/js/bootstrap.min.js')
			// PrettyPhoto javascript file
			script(src='/guest_page/js/jquery.prettyPhoto.js')
			// Google map
			script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAxUeMBUbKnW-LKTWTIL656w7nHABuNMTI&libraries=places')
			// Datatables
			script(src='../vendors/datatables.net/js/jquery.dataTables.min.js')
			script(src='../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
			script(src='../vendors/datatables.net-buttons/js/dataTables.buttons.min.js')
			script(src='../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.flash.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.html5.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.print.min.js')
			script(src='../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')
			script(src='../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')
			script(src='../vendors/datatables.net-responsive/js/dataTables.responsive.min.js')
			script(src='../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')
			script(src='../vendors/datatables.net-scroller/js/dataTables.scroller.min.js')
			script(src='../vendors/jszip/dist/jszip.min.js')
			script(src='../vendors/pdfmake/build/pdfmake.min.js')
			script(src='../vendors/pdfmake/build/vfs_fonts.js')
			// Template main javascript
			script(src='/guest_page/js/main.js')			
			script(src='/guest_page/js/post_details.js')
			// Google Analytics: change UA-XXXXX-X to be your site's ID.
			script.
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');
